html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  font-family: Calibri, Arial, sans-serif; 
}

a {
  text-decoration: none;
}

h2 a:link, h2 a:visited, h3 a:link, h3 a:visited {
  color: black;
}

.container {
  background-color: #FFF;
  display: grid;
  grid-template-areas:
    'nav nav'
    'header header'
    'toc toc'
    'images text'
    'images text'
    'images buttons'
    'footer footer';
  gap: 50px;
  padding: 10px;
}

.nav {
  grid-area: nav;
}

.nav a {
  width: 100%;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

#about_me {
  background-color: #696969;
  float: left;
  width: 50%;
  font-size: large;
}

#experience {
  background-color: #1E90FF;
  float: left;
  width: 50%;
  font-size: large;
}

#skills {
  background-color: #696969;
  float: left;
  width: 50%;
  font-size: large;
}

#projects {
  background-color: #696969;
  float: left;
  width: 50%;
  font-size: large;
}

#education {
  background-color: #696969;
  float: left;
  width: 50%;
  font-size: large;
}

#publications {
  background-color: #696969;
  float: left;
  width: 50%;
  font-size: large;
}

#awards_and_honors {
  background-color: #696969;
  float: left;
  width: 50%;
  font-size: large;
}

#test_scores {
  background-color: #696969;
  float: left;
  width: 50%;
  font-size: large;
}

#contact_me {
  background-color: #696969;
  float: left;
  width: 100%;
  font-size: large;
}

#header {
  background-color: #FFF;
  color: #000;
  clear: both;
  grid-area: header;
}

#toc {
  background-color: #FFF;
  color: #000;
  clear: both;
  grid-area: toc;
}

#toc a {
  color: #696969;
}

#toc a:hover {
  text-decoration: underline;
}

#toc .heading2 {
  font-weight: bold;
}

ul {
  counter-reset: item;
}

li {
  display: block;
}

.text {
  grid-area: text;
}

.text a:hover {
  text-decoration: underline;
}

.images {
  grid-area: images;
}

.images img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 50px;
}

.buttons {
  grid-area: buttons;
}

.buttons a:link, .buttons a:visited {
  text-decoration: none;
  background-color: white;
  color: black;
}

.about-me {
  background-color: #696969;
  color: white;
}

.about-me:hover {
  background-color: #1E90FF;
  color: white;
}

.about-me:active {
  transform: translateY(4px);
}

.back-to-top {
  background-color: white;
  color: black;
}

.back-to-top:active {
  transform: translateY(4px);
}

.skills {
  background-color: #696969;
  color: white;
}

.skills:hover {
  background-color: #1E90FF;
  color: white;
}

.skills:active {
  transform: translateY(4px);
}

#footer {
  clear: both;
  background-color: #696969;
  color: #FFF;
  text-align: right;
  grid-area: footer;
}

@media only screen and (max-width: 1080px) {
  .nav {grid-area: 1 / span 2;}
  #header {grid-area: 2 / span 2;
	   text-align: center;}
  #toc {grid-area: 3 / span 2;
	   text-align: center;}
  #toc ul {padding-left: 0;}
  .images {grid-area: 4 / span 2;}
  .text {grid-area: 5 / span 2;
         text-align: center;}
  .buttons {grid-area: 6 / span 2;
         text-align: center;}
  #footer {grid-area: 7 / span 2;
           text-align: center;}
}
