body{
	background-color: #FFF;
	font-family: Calibri, Arial, sans-serif; 
}

a{
	text-decoration: none;
}

#container{
	background-color: #FFF;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#nav{
	padding-bottom: 30px;
}

#nav a{
	width: 1000px;
	color: #FFF;
	margin-left: auto;
	margin-right: auto;
}

#illustrations{
	background-color: #1E90FF;
	float: left;
	width: 250px;
	font-size: large;
}

#music{
	background-color: #696969;
	float: left;
	width: 250px;
	font-size: large;
}

#home{
	background-color: #696969;
	float: left;
	width: 250px;
	font-size: large;
}

#contact{
	background-color: #696969;
	float: left;
	width: 250px;
	font-size: large;
}

#header{
	background-color: #FFF;
	color: #000;
}

#content{
	padding:10px;
}

#main{
	width: 1000px;
}

#images{
	width: 1000px;
	padding-bottom: 30px;
}

#images .labels{
	color:#696969;
}

#images img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 8px;
}

#images p{
    text-align: center;
}

#tom img{
	width: 450px;
}

#amir img{
	width: 1000px;
}

#lalon img{
	width: 450px;
}

#nazrul img{
	width: 500px;
}

#abdulkarim img{
	width: 550px;
}

#obama img{
	width: 900px;
}

#einstein img{
	width: 900px;
}

#fladramon img{
	width: 1000px;
}

#dragoon img{
	width: 1000px;
}

#driger img{
	width: 1000px;
}

#tyson img{
	width: 1000px;
}

#bladebreakers img{
	width: 1000px;
}

#goku img{
	width: 1000px;
}

#saitama img{
	width: 1000px;
}

#light img{
	width: 1000px;
}

#eren img{
	width: 1000px;
}

#fullmetal img{
	width: 500px;
}

#reaper img{
	width: 1000px;
}

#batman img{
	width: 500px;
}

#axeman img{
	width: 1000px;
}

#footer{
	clear: both;
	background-color: #696969;
	color: #FFF;
	text-align: right;
}