body{
	background-color: #FFF;
	font-family: Calibri, Arial, sans-serif; 
}

a{
	text-decoration: none;
}

#container{
	background-color: #FFF;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#nav{
	padding-bottom: 30px;
}

#nav a{
	width: 1000px;
	color: #FFF;
	margin-left: auto;
	margin-right: auto;
}

#home{
	background-color: #1E90FF;
	float: left;
	width: 500px;
	font-size: large;
}

#contact{
	background-color: #696969;
	float: left;
	width: 500px;
	font-size: large;
}

#header{
	background-color: #FFF;
	color: #000;
	clear: both;
}

#content{
	padding: 10px;
}

#main{
	width: 600px;
	float: right;
	padding-bottom: 30px;
}

#images{
	width: 280px;
	float: left;
}

#images img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#images p{
    text-align: center;
	font-size: small;
}

#images .labels{
	color:#696969;
}

#headshot p{
  padding-bottom: 50px;
}

#txst img{
  padding-bottom: 110px;
}

#sust img{
  padding-bottom: 80px;
}

#programming img{
  padding-bottom: 435px;
}

#environments img{
  padding-bottom: 580px;
}

#intel img{
  padding-bottom: 100px;
}

#mitmedialab img{
  padding-bottom: 100px;
}

#surestart img{
  padding-bottom: 100px;
}

#txst2 img{
  padding-bottom: 100px;
}

#affectiva img{
  padding-bottom: 320px;
}

#simio p{
  padding-bottom: 50px;
}

#lidar p{
  padding-bottom: 500px;
}

#ieee img{
  padding-bottom: 50px;
}

#ijett img{
  padding-bottom: 150px;
}

#aiiot img{
  padding-bottom: 50px;
}

#ietc img{
  padding-bottom: 50px;
}

#edx img{
  padding-bottom: 30px;
}

#coursera img{
  padding-bottom: 90px;
}

#dailystar p{
  padding-bottom: 30px;
}

#tests img{
  padding-bottom: 90px;
}


#footer{
	clear: both;
	background-color: #696969;
	color: #FFF;
	text-align: right;
}
