body{
	background-color: #FFF;
	font-family: Calibri, Arial, sans-serif; 
}

a{
	text-decoration: none;
}

#container{
	background-color: #FFF;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#nav{
	padding-bottom: 30px;
}

#nav a{
	width: 1000px;
	color: #FFF;
	margin-left: auto;
	margin-right: auto;
}

#music{
	background-color: #1E90FF;
	float: left;
	width: 250px;
	font-size: large;
}

#home{
	background-color: #696969;
	float: left;
	width: 250px;
	font-size: large;
}

#illustrations{
	background-color: #696969;
	float: left;
	width: 250px;
	font-size: large;
}

#contact{
	background-color: #696969;
	float: left;
	width: 250px;
	font-size: large;
}

#header{
	background-color: #FFF;
	color: #000;
	clear: both;
}

#content{
	padding:10px;
}

#main{
	width: 600px;
	float: left;
}

#images{
	width: 280px;
	float: right;
	padding-bottom: 30px;
}

#images img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 8px;
}

#images p{
    text-align: center;
	font-size: small;
}

#images .labels{
	color:#696969;
}

#ibanez p{
	padding-bottom: 200px;
}

#guitars img{
	padding-bottom: 70px;
}

#pedals img{
	padding-bottom: 60px;
}

#amp img{
	padding-bottom: 30px;
}

#accessories img{
	padding-bottom: 60px;
}

#footer{
	clear: both;
	background-color: #696969;
	color: #FFF;
	text-align: right;
}